<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlust: Terms</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      h1 {
        margin-left: 4rem;
        margin-top: 1rem;
      }
      p {
        padding: 1rem 2rem 0 2rem;
      }
    </style>
  </head>
  <body>
    <h1>WandeLust: Terms and Condition</h1>
    <hr />
    <p>
      Welcome to Wanderlust! These terms of use govern your use of the
      Wanderlust website and all of its related services. By accessing or using
      Wanderlust, you agree to be bound by these terms. Please read them
      carefully before using our website.
    </p>
    <p>
      1. Acceptance of Terms: By accessing Wanderlust, you agree to these Terms
      of Use, our Privacy Policy, and all applicable laws and regulations.
      <br />
      2. Description of Service: Wanderlust is a platform that allows users to
      discover, plan, and book trips and travel experiences. <br />
      3. User Account: To access certain features of Wanderlust, you may be
      required to create an account. You are responsible for maintaining the
      confidentiality of your account and password. <br />
      4. User Conduct: You agree not to use Wanderlust to: <br />
      • Violate any laws or regulations <br />
      •Infringe upon the rights of others <br />
      •Post or transmit any content that is unlawful, threatening, abusive,
      defamatory, or otherwise objectionable <br />
      •Interfere with or disrupt Wanderlust or its servers <br />
      5. Booking and Payments: Wanderlust allows users to book trips and travel
      experiences. By booking through Wanderlust, you agree to abide by the
      booking and payment terms of the respective travel providers. <br />
      6. Intellectual Property: All content on Wanderlust, including text,
      graphics, logos, and images, is the property of Wanderlust or its
      licensors and is protected by copyright and other intellectual property
      laws. <br />
      7. Limitation of Liability: Wanderlust is not liable for any direct,
      indirect, incidental, special, or consequential damages arising out of or
      in any way connected with your use of Wanderlust. <br />
      8. Modification of Terms: Wanderlust reserves the right to modify these
      Terms of Use at any time.<br />
      9.Termination: Wanderlust reserves the right to terminate your access to
      the website at any time for any reason without notice. 10. Governing Law:
      These Terms of Use are governed by and construed in accordance with the
      laws of [insert jurisdiction], without regard to its conflict of laws
      principles. By using Wanderlust, you agree to these Terms of Use. If you
      do not agree to these terms, please do not use Wanderlust.
    </p>
  </body>
</html>
